body {
  font-family: roboto;
  font-size: 1rem;
  color: var(--clr4);
}

h1 {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.4648rem + 2.8169vw, 4rem);
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  text-align: center;
}
