.films,
.people,
.planets,
.vehicles,
.species,
.starships {
  margin: 30px 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
}

ul {
  list-style: none;  
  aspect-ratio: 3 / 2;
  border-radius: 12px;
  border: solid 10px chartreuse;
  background: var(--blc);
  background-size: cover;
  display: grid;
  align-items: end;
}

li{
    color: var(--ylw)
}