
nav {
  background: var(--blc);
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}
#navbar > ul > li {
  list-style: none;
  color: var(--wht);
}

#navbar a {
  color: var(--ylw);
  font-weight: 600;
  letter-spacing: 1px;
}
